body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    background-color: #121212;
    color: #e0e0e0;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

header {
    text-align: center;
    margin: auto 2em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: #333;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
   border-right: 1px solid #333;
}

a {
    color: #4da6ff;
    text-decoration: none;
}